{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<style>
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: black;
    }
    p {
        text-align: center;
    }
</style>
<div class="container my-4 px-4"></div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ut mollitia dolorum libero voluptatum culpa sit doloribus magnam perspiciatis quae, sequi quam eum veniam natus
    nulla.
    Voluptates saepe cum recusandae quidem corrupti facere, consequatur iure?</p>

{% endblock body %}
